@page "/auction/details"
@using Microsoft.EntityFrameworkCore
@using OnlineArtGallery.Domain
@inject IDbContextFactory<OnlineArtGallery.Data.OnlineArtGalleryContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Auction</h2>
    <hr />
    @if (auction is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">StartingBid</dt>
            <dd class="col-sm-10">@auction.StartingBid</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@auction.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@auction.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@auction.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@auction.UpdatedBy</dd>
      
        </dl>
        <div>
            <a href="@($"/auction/edit?id={auction.Id}")">Edit</a> |
            <a href="@($"/auction")">Back to List</a>
        </div>
    }
</div>

@code {
    private Auction? auction;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        auction = await context.Auction.FirstOrDefaultAsync(m => m.Id == Id);

        if (auction is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
